:root{

    --color_dark-background--:#1F2937;
    --color_hero-main-text--:#F9FAF8;
    --color_hero-secondary-header-link--:#E5E7EB;
    --color_header-logo-text--:#F9FAF8;
    --color_button--:#3882f6;
    --color_information-header-text--:#1f2937;
    --color_quote-section--:#e5e7eb;
    --color_quote-text--:#1f2937;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

/* Header */

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 5px 10px 5px;
    background-color: var(--color_dark-background--);
    padding: 10px 20px 10px 20px;
}

.header__logo{
    font-size: 24px;
    color: var(--color_header-logo-text--);
}

.header ul{
    margin: 0;
    list-style: none;
}

.header a{
    text-decoration: none;
    color: var(--color_hero-secondary-header-link--);
}

.header__list{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

/* Hero */

.image{
    border: 1px solid blue;
    width: 400;
    height: 200;
}

.hero{
    display: flex;
}