:root{

    --color_dark-background--:#1F2937;
    --color_hero-main-text--:#F9FAF8;
    --color_hero-secondary-header-link--:#E5E7EB;
    --color_header-logo-text--:#F9FAF8;
    --color_button--:#3882f6;
    --color_information-header-text--:#1f2937;
    --color_quote-section--:#e5e7eb;
    --color_quote-text--:#1f2937;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

/* Header */

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 5px 10px 5px;
    background-color: var(--color_dark-background--);
    padding: 10px 20px 10px 20px;
}

.header__logo{
    font-size: 24px;
    color: var(--color_header-logo-text--);
}

.header ul{
    margin: 0;
    list-style: none;
}

.header a{
    text-decoration: none;
    color: var(--color_hero-secondary-header-link--);
}

.header__list{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

/* Hero */

.image{
    border: 1px solid blue;
    
    background-color: grey;
    text-align: center;
    flex-shrink: 0;
    align-self: stretch;
    flex-grow: 2;
}

.hero{
    padding: 100px 20px 100px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: var(--color_dark-background--);
}

.hero h1{
    color: var(--color_hero-main-text--);
    font-size: 48px;
    font-weight: bold;
    margin: 0;
}

.hero__description{
    flex-basis: 40%;
}

.hero__description p{
    color: var(--color_hero-secondary-header-link--);
    font-size: 18px;
}

.btn__hero a{
    text-decoration: none;
    color: var(--color_hero-secondary-header-link--);
    font-size: 14px;
    font-weight: 600;
}

.btn__hero{
    border: 0;
    background-color: var(--color_button--);
    text-align: center;
    padding: 10px 30px;
    border-radius: 10px;
}

/* Information Section */

.info p{
    margin: 0;
}

.info__image{
    width: 100px;
    height: 100px;
    border: 1px solid var(--color_button--);
    border-radius: 10px;
}